*{
    box-sizing: border-box;
}

p{
    margin: 0;
    width: 100%;
    text-align: center;
    color: whitesmoke;
}

html{
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    background-color: #0a112f;
    height: 100%;
}

main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 50%;
}

header{
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.grid{
    display: grid;
    grid-template-rows: repeat(9,auto);
    grid-template-columns: repeat(12,auto);
    width: 90%;
    height: 75%;
    position: relative;
}

.carita-si{
    border: solid black 1px;
}


.blanco{
    background-color: rgba(255, 255, 255, 0.856);
}
.verde{
    background-color: rgb(0, 155, 72);
}
.rojo{
    background-color: rgb(183, 18, 52);
}
.azul{
    background-color: rgb(0, 70, 173);
}
.naranja{
    background-color: rgb(255, 88, 0);
}
.amarillo{
    background-color: rgb(255, 213, 0);
}

.botones{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gris{
    background-color: grey;
}

.enviar{
    position: absolute;
    bottom: 0;
    right: 0;
}

aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.solucion{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 90%;
    min-height: 40%;
    border: 5px darkcyan double;
}

.result{
    color: whitesmoke;
}

@media (max-width: 480px){
    body{
        flex-direction: column;
    }

    main{
        width: 100%;
    }

    header{
        width: 100%;
    }

    aside{
        width: 100%;
    }

}